* {
    font-size: 32px;
    font-family: brownstd;
}

.is-active {
    color: hotpink !important;
}



//general layout
.header-wrapper {
    padding-left: 4vw;
    display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    text-align: left;

    font-weight: 300;
    font-size: 90%;
    color: black;
    margin: none;



    nav {

        grid-column: 1/ span 3;
        color: black;
        text-align: left;
        //display: inline-block;


        ul {

            display: flex;
            //justify-content: space-between;
            margin-right: 5%;
            color: black;
            text-align: left;
        }
    }
}

//styling buttons
.button__header {

    text-decoration: none;
    padding-right: 30px;

    color: black;

    &:visited {
        color: black;
    }
}

@media only screen and (max-width: 650px) {

    .header-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr .5fr .5fr;
    }

    nav {

        grid-column: 1/2;
        color: black;
        text-align: left;
        grid-row: 1/4;


        ul {

            display: inline-block !important;
            //justify-content: space-between;
            margin-right: 5%;
            color: black;
            text-align: left;
            line-height: 160%;
        }
    }

}
